.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.thread-dark{
  background-color: #282c34;
  color: white;
  position: relative;
  width: 1000px;
  box-shadow: 10px 10px 10px gray;
}
.table-responsive1{
  display: block;
  margin: auto;
  width: 70%;
  height: 500px;
 overflow-x: scroll;
}
@media (max-width:1000px){
  .table-responsive1{
    width: 90%;
  }
}
@media (max-width:700px){
  .table-responsive1{
    width: 100%;
  }
}

.state{
  background-color: green;
}